<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>

        <div class="print-shape">
            <div class="box box-circle"></div>
            <div class="box box-polygon"></div>
            <p>
              NASA has launched the final stage of a four-year effort to develop a national traffic management system for drones, testing them in cities for the first time beyond the operator's line of sight as businesses look in the future to unleash the unmanned devices in droves above busy streets and buildings.
            </p>
        </div>
        <div class="print">
            <div class="thumb-img">
                <img src="brs.png" alt="">
            </div>
            <div class="thum-text">
                <p>
                    RENO, Nev. — NASA has launched the final stage of a four-year effort to develop a national traffic management system for drones, testing them in cities for the first time beyond the operator's line of sight as businesses look in the future to unleash the unmanned devices in droves above busy streets and buildings.
                    Multiple drones took to the air at the same time above downtown Reno this week in a series of simulations testing emerging technology that someday will be used to manage hundreds of thousands of small unmanned commercial aircraft delivering packages, pizzas and medical supplies.
                </p>
            </div>
        </div>

    </body>
</html>